.nav.navbar-nav {
    font-size: 15px;
}

#searchForm {
    margin-right: 60px;
}

li > a.active {
    color: crimson;
}



@media (max-width: 1200px) {
    #searchForm {
        display: none;
    }
}